@charset "UTF-8";

@font-face{
    font-family: "Navbar";
    src: url("../Fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face{
    font-family: "Regular";
    src: url("../Fonts/DM_Sans/DMSans-Regular.ttf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(51, 104, 189, 0.829);
    font-family: 'Navbar';
    font-size: 16px;
    line-height: 16px;
}

.container {
    width: 90vw;
    height: 82vh;
    margin: 0 auto;
    position: relative;
}

.chatbox {
    width: 90%;
    height: 400px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

.header {
    background: white;
    padding: 20px;
    color: rgb(8, 8, 8);
    font-size: 20px;
    margin-bottom: 20px;
}

.avail {
    font-size: 12px;
    padding: 0 20px;
    padding-right: 30px;
}

.avail::after {
    content: "";
    display: inline-block;
    background: rgb(4, 180, 4);
    width: 10px;
    height: 10px;
    margin: 0 3px;
    vertical-align: middle;
    border-radius: 50%;
}

.body {
    background: rgb(207, 206, 204);
    height: 100%;
    width: 100%;
    overflow-y: auto;
    border-radius: 1%;
}

input {
    height: 50px;
    width: 100%;
}

input[type="text"] {
    margin-top: 10px;
    padding: 0 10px;
}

input[type="submit"] {
    height: 25px;
    border: 0;
    background: #000000;
    font-weight: 500;
    font-size: 17px;
    color: aliceblue;
    cursor: pointer;
}

.visible {
    display: block;
}

.none {
    display: none;
}

.me {
    color: white;
    font-family: cursive;
    width: 55%;
    height: auto;
    padding: 10px;
    margin: 5px;
    background-color: #2748a3;
    border-radius: 10px;
    float: right;
    text-align: right;
    display: block;
}

.axel {
    color: white;
    font-family: 'Regular';
    width: 60%;
    height: auto;
    padding: 10px;
    margin: 5px;
    background-color: rgb(199, 97, 30);
    border-radius: 10px;
    float: left;
    text-align: left;
    display: block;
}

.imgRedonda {
    height: 40px;
}

#chat {
    font-family: 'Regular';
    font-size: large;
}

#btn {
    color: black;
    font-family: 'Navbar';
    font-size: large;
    background-color:  rgb(207, 206, 204);
    border-radius: 1rem;
    letter-spacing: 2px;
    margin-top: 10px;
}