<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CORONABOT | Ayuda</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="../statics/CSS/style.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light p-3" style="background-color: rgb(233, 233, 233);">
      <a href="../index.html"><img src="../statics/media/logo.png" alt="logo" height="50px"></a>
      <a href="../index.html"><img src="../statics/media/titulo.png" alt="logo" height="30px"></a> <button
        class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="../index.html">INICIO <span class="sr-only">(current)</span></a>
          <a class="nav-link active" href="registro.html">REGÍSTRATE<span class="sr-only">(current)</span></a>
          <a class="nav-link active" href="ayuda.html">AYUDA<span class="sr-only">(current)</span></a>
          <a class="nav-link active" href="referencias.html">REFERENCIAS<span class="sr-only">(current)</span></a>
          <a class="nav-link active" href="conoce.html">CONÓCENOS<span class="sr-only">(current)</span></a>
        </div>
      </div>
    </nav>
  </header>
  <br>
  <h2>¿NECESITAS AYUDA?</h2>
  <br>

  <div class="container">
    <div class="row">
      <div class="col-sm d-flex justify-content-center">
        <img src="../statics/media/chatbot1.gif" alt="chatbot" class="image">
      </div>
      <div class="col-sm text-center">
        <br>
        <h4 class="text-uppercase">Preguntas que puedes realizar</h4>
        <br>
        <div id="pregunta">¿Cómo puedo mantenerme seguro?</div>
        <div id="pregunta1">¿Cómo se transmite el covid?</div>
        <div id="pregunta">¿Cuáles son los síntomas?</div>
        <div id="pregunta1">¿Es posible volverse a contagiar?</div>
        <div id="pregunta">¿Hay tratamiento?</div>
        <div id="pregunta1">¿Cuál es la duración de los síntomas?</div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">

      <div class="col-sm">
        <br>
        <div style="background-color: rgba(131, 192, 207); border-radius: 1rem; padding: 15px;">
          <h4 class="text-uppercase text-center" style="color: rgb(37, 36, 36); margin-bottom: 10px;">¿Qué es coronabot?
          </h4>
          <p id="ayudaP" style="color: rgb(37, 36, 36);">
            CoronaBot es un chatbot creado para responder preguntas sobre la actual situación de la pandemia de Covid-19
            y
            es capaz de realizar un seguimiento si es que eres un paciente de Covid-19. </p>
        </div>
      </div>
      <div class="col-sm">
        <br>
        <div style="background-color:  rgb(26, 96, 189); border-radius: 1rem; padding: 15px;">
          <h4 class="text-uppercase text-center" style="color: white; margin-bottom: 10px;">¿Cómo funciona?</h4>
          <p id="ayudaP">
            Primero debes iniciar sesión, si aún no te has registrado ve a la página de registro, después puedes empezar
            a hacerle preguntas al chatbot. Trata de ser específico para obtener una mejor respuesta.</p>
        </div>
      </div>
    </div>

    <br>
    <br>
    <footer class="footer mt-auto py-3">
      Chatbot desarrollado en Challenge CdeCMx 2020 con Thomas Donoghue.
    </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"></script>

</body>

</html>