<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CORONABOT | Conócenos</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="../statics/CSS/style.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light p-3" style="background-color: rgb(233, 233, 233);">
      <a class="navbar-brand" href="../index.html">CHATBOT</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="../index.html">INICIO <span class="sr-only">(current)</span></a>
          <a class="nav-link active" href="registro.html">REGÍSTRATE<span class="sr-only">(current)</span></a>
          <a class="nav-link active" href="ayuda.html">AYUDA<span class="sr-only">(current)</span></a>
          <a class="nav-link active" href="conoce.html">CONÓCENOS<span class="sr-only">(current)</span></a>
        </div>
      </div>
    </nav>
  </header>
  <br>
  <div class="d-flex justify-content-center">
    <h3>¿QUÉ ES UN CHATBOT?</h3>
  </div>
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-10">
      <div class="texto">
        <p>Un chatbot es un programa informático con el que es posible mantener una conversación, tanto si queremos
          pedirle
          algún tipo de información o que lleve a cabo una acción. A través de nuestro chatbot, CoronaBot, podrá hacer
          preguntas acerca de la reciente enfermedad COVID-19. De igual manera al registrarse si se trata de un
          paciente
          Covid nuestro programa se encargará de llevar la cuenta de los días que debe permanecer en aislamiento y le
          proporcionará consejos.</p>
      </div>
    </div>
    <div class="col-1">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-1">

    </div>
    <div class="col-10">
      <aside>
        <video id="video" src="../statics/media/info.mp4" alt="video" autoplay muted loop></video>
      </aside>
    </div>
  </div>
  <div class="col-1">
  </div>

  <br>
  <div class="d-flex justify-content-center">
    <h3>¿QUIÉNES SOMOS?</h3>
  </div>

  <br>
  <div class="row">
    <div class="col-1">

    </div>
    <div class="col-10">
      <div class="texto">
        <p>Somos un grupo de jóvenes amantes de la ciencia y la programación, pertenecemos a distintos países de
          Latinoamérica y esto nos ha ayudado a presenciar distintos contextos que se enfrentan en el mundo a causa de
          la actual pandemia generada por el Sars-Cov-2. El equipo se encuentra muy diversificado, pues somos alumnos
          tanto de preparatorio como de universidad y las áreas de conocimiento en las que se desempeña cada uno son muy
          variadas como salud, ingeniería en computación, programación, economía, diseño, además de que manejamos
          distintos idiomas. </p>
      </div>
    </div>
  </div>
  <div class="col-1">
  </div>

  <footer class="footer mt-auto py-3">
    Chatbot desarrollado en Challenge CdeCMx 2020 con Thomas Donoghue.
  </footer>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

</body>

</html>